//FONT APP
$font-app: 'Poppins' , sans-serif ;
//COLORS APP
$primary-dark: #390164;
$primary-medium: #5C2A6F;
$primary-light: #FEFEFE;
$secondary-dark: #1C7981;
$secondary-medium: #8BD1D3;
$secondary-light: #CBF6DA;
