//FONT APP
$font-app: "Poppins", sans-serif;
//COLORS APP
$white: #ffffff;
$primary-medium: #5c2a6f;
$primary-light: #fefefe;
$secondary-dark: #1c7981;
$secondary-medium: #8bd1d3;
$secondary-light: black;
