.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.search {
  width: 300px;
}

ul li {
  font-size: 20px;
}

.reduced-search {
  width: 10px;
}
