@import "../../../variables.scss";
.header {
  display: flex;
}
.test {
  justify-content: flex-end;
  display: flex;
  width: 100vw;
}
.navbar {
  height: 40vh;
  background-image: url("../../assets/backgroundnav.jpeg");
  background-size: cover;
  background-position: center;
  padding-top: 1vh;
  border-bottom: 2px solid $white;
  margin-bottom: 15vh;
}
.nav-logo {
  width: 25vw;
  height: 25vw;
}

.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.1rem;
  color: $white;
  padding: 5vw;
  text-shadow:
    -1px -1px 0 $dark,
    1px -1px 0 $dark,
    -1px 1px 0 $dark,
    1px 1px 0 $dark;
}

.navbarLinkContainer ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none;
  padding: 0;

  .link {
    margin-inline: 5vw;
    margin-top: 1vh;
  }
  a {
    text-decoration: none;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    text-shadow:
      -1px -1px 0 $dark,
      1px -1px 0 $dark,
      -1px 1px 0 $dark,
      1px 1px 0 $dark;
  }

  a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background: $white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  a:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
