@import "../../variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font-app;
}
.homepage {
  background-color: $primary-light;
  background-size: cover;
  padding-bottom: 5vh;
}
.homepage__selected__product {
  position: absolute;
  top: 32vh;
  left: 5vw;
}
.homepage__searchBar {
  position: absolute;
  top: 38vh;
  right: 10vw;
}
