@import "../../../variables";
.click_desc {
  cursor: pointer;

  text-align: right;
}

.desc {
  cursor: pointer;
  padding-inline: 1vw;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  padding-block: 2vh;
  padding-inline: 2vw;
  width: 87vw;
  border-radius: 15px;
  background-color: $secondary-medium;
  height: auto;
  border-top: 0;
  text-align: left;
}

.desc-hidden {
  display: none;
}

.Card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.titlecard {
  border-radius: 5px;
  text-align: center;
  width: auto;
  height: auto;
  color: $white;
  padding-top: 2vh;
  text-shadow:
    -1px -1px 0 $dark,
    1px -1px 0 $dark,
    -1px 1px 0 $dark,
    1px 1px 0 $dark;
}
.imgcard {
  height: auto;
  width: 80vw;
  border-radius: 15px;
  font-size: 10vw;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.all_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkloreal {
  text-align: center;
  background-color: $secondary-dark;
  border-radius: 10px;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  border: solid 1px $white;
  margin-bottom: 0.5vh;
}
.button__desc {
  all: unset;
  text-align: center;
  border-radius: 10px;
  margin-block: 1vh;
  height: 5vh;
  font-size: 1.2rem;
  width: 40vw;
  background-color: $secondary-dark;
  color: $white;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.price {
  color: $primary-dark;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}
.desc_text {
  color: $primary-dark;
  font-size: 1.2rem;
}
@media screen and (min-width: 800px) {
}
