@import "../../../variables.scss";

.selected_product_container {
  position: relative;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  width: 50vw;
}
.selected_product_image {
  width: 48vw;
}
.selected_product_title {
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  color: $white;
  text-shadow:
    -1px -1px 0 $dark,
    1px -1px 0 $dark,
    -1px 1px 0 $dark,
    1px 1px 0 $dark;
}
.selected_product_paragraph {
  font-size: 1rem;
}
