@import "../../../variables.scss";

.selected_product_container {
  position: relative;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  width: 50vw;
}
.selected_product_image {
  height: 22vh;
  width: 48vw;
  border-radius: 25px;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.selected_product_title {
  font-size: 1.2rem;
  margin-inline: 2vw;
  word-break: normal;
  text-align: center;
  position: absolute;
  color: $white;
  text-shadow:
    -1px -1px 0 $dark,
    1px -1px 0 $dark,
    -1px 1px 0 $dark,
    1px 1px 0 $dark;
}
.selected_product_paragraph {
  font-size: 1rem;
}
